<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="CSWeFramework.Service" />
    <assembly name="CSWeFramework.Data" />
    <alias alias="perresolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager" />
    <container>
      <register type="CSWeFramework.Data.IDbContext" mapTo="CSWeFramework.Data.CarDbContext">
        <lifetime type="perresolve"  />
      </register>
      <register  type="CSWeFramework.Service.Test.ITestService" mapTo="CSWeFramework.Service.Test.TestService2">
      </register>
      <register  type="CSWeFramework.Service.Test.IGenericTestService[]" mapTo="CSWeFramework.Service.Test.GenericTestService[]"></register>
    </container>
  </unity>

</configuration>
