@model string
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <style type="text/css">
            .test{
                color:red;
                width:100%;
                height:200px;
            }
        </style>
    </head>
    <body>
        <div>
            显示信息：@Model
        </div>
        <div class="test">
           a 显示信息1,显示信息2,显示信息3,显示信息4
        </div>
    </body>
</html>
